body {
	background:#f4f4f4;
	font-family: 'Roboto Slab', serif;
     }

.content {
	max-width: 800px;
	margin:auto;
	padding: 10px;
	border-bottom: 5px;
}

h1 {
	color:#c0b283;
	font-size: 300%;
	}



li {
	line-height: 150%;
}


/* Charcoal */
p  {
	color:#373737;
	line-height: 150%;

}

.callout {
	background: #dcd0c0;
}

.button {
	text-decoration: none;
	background-color: #c0b283;
	padding: 15px;
	border-radius: 10px;
	color:black;


}